<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SIG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8258E05E1EC1AB27001F62ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8258E07A1EC1AB28001F62ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8258E0851EC1AB28001F62ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
